<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_movie.mapper.LoginMapper">

	<resultMap type="LoginCommand" id="resLoginCommand">
		<id column="memEmail" property="memEmail"/>
		<id column="memPasswd" property="memPasswd"/>
	</resultMap>

	<select id="login" resultType="loginCommand">
		select COUNT(*)
		  from member
		 where mem_email = #{memEmail}
		   and mem_passwd = #{memPasswd}
	</select>

	<!-- 아이디 중복 검사 
	<select id="selectMemberByEmail" parameterType="String" resultType="int">
		select count(*)
		  from member
		 where mem_email = #{memEmail}
	</select> -->

</mapper>