@charset "UTF-8";
@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* body */
body {
	font-family: 'IBMPlexSansKR-Regular', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	/* 	background-color: RGB(3, 22, 52); */
}

/* header */
header {
	margin: auto;
	width: 70%;
	position: relative;
}

#header_ci {
	width: 150px;
	margin: 0px auto;
	align-items: center;
	position: relative;
	/* 	position: absolute; */
	left: 120px;
	/* left: 50%; */
	/* 	transform: translate(-50%, 0); */
	box-sizing: border-box;
}

header div {
	display: inline;
	float: right;
	text-align: right;
	padding-bottom: 10px;
}

header div a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.8em;
	color: RGB(136, 136, 136);
}

/* <nav> */
nav {
	margin: auto;
	width: 70%;
	position: relative;
	padding: 0px;
}

nav ul {
/* 	padding-left */
	list-style: none;
	border-bottom: 0.5px solid RGB(3, 22, 52);
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
}

nav ul li {
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 1.3em;
}

nav ul li a {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 5px;
}

nav ul li a:hover {
	text-decoration: none;
	color: RGB(3, 22, 52);
	padding-bottom: 4px;
	border-bottom: 5px solid RGB(3, 22, 52);
}

/* section */
section {
	margin: 50px auto;
	width: 1000px;
	height: 900px;
	text-align: center;
}
section h2 {
	padding-left: 10px;
	text-align: left;
}

#container {
	border: 1px solid #ccc;
	margin-bottom: 50px;
	height: 700px;
}

#menubar ul{
	padding: 0;
	margin-bottom: 0px;
	list-style: none;
	width: 100%;
}

#menubar ul li{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 32.5%;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
/* 	border-collapse: collapse; */
}

#selected{
	background-color: RGB(3, 22, 52);
	color: white;
}


#seat-result{
	padding: 10px;
/* 	margin-top: 30px; */
	width: 570px;
	height: 500px;
	float: left;
/* 	border: 1px solid blue; */
}
#seat-result h3{
	text-align: left;
	background-color: #ccc;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.title{
	border: 1px solid #ddd;	
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	padding-left: 15px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 1.2em;
}


.title:hover,
.title.active{
 	background-color: #203049;
 	color: #fff;
}


.desc{
	padding: 20px;
	display: none; /* active 되지 않은 desc는 숨김 */
}

.desc.active{
	display: block; /* active 됐을 때 block으로 보이게 만듦 */
}


.desc span{
	display:inline-block;
	width: 120px;
	background-color: white;
	padding: 10px;
	font-size: 1.2em;
	margin: 0 50px;
	text-decoration: none;
	border: 1px solid RGB(3, 22, 52);
}

.desc span a{
	
	text-decoration: none;
	color: RGB(3, 22, 52);
}

#payment-result{
	padding: 10px;
	width: 340px;
	height: 500px;
	float: left;
	background-color: RGB(3, 22, 52);
/* 	border: 1px solid yellow; */
}


#movie-info, #time-info, #price-info, #discount-info{
	margin: 30px auto;
}

#movie-info dt, #time-info dt, #price-info dt, #discount-info dt{
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	text-align: left;
}

#movie-info dd, #time-info dd, #price-info dd, #discount-info dd{
	font-size: 0.8em;
	color: white;
	text-align: left;
	margin: 0;
}

#before, #next{
	display:inline-block;
	width: 100px;
	background-color: white;
	padding: 10px;
	font-size: 1.2em;
	margin: 0 10px;
}


/* footer */
footer {
	margin: 50px auto;
	width: 70%
}

footer div {
	border-top: 0.5px solid RGB(3, 22, 52);
	text-align: left;
	margin-top: 0;
}

footer div p {
	margin-left: 80px;
	color: black;
	font-size: 0.8em;
	margin-top: 22.5px;
}

#footer_ci {
	width: 100px;
	margin: 0px;
	float: left;
}